.countryContainer {
  margin-top:2%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#countryLabel {
  color: var(--dark-gray);
}
#country {
  width: 90%;
  height: 5%;
  cursor: pointer;
  outline: none;
  border-radius:1rem;
  padding:1%;
  border:white;
  box-shadow: .1rem .1rem 2rem rgb(255, 255, 255);
  background-color: rgba(144 144 144 / 0.2);
}
