#NavBar {
  background-color: var(--dark-gray);
  opacity: 1;
}
.navbar-toggler-icon {
  color: white !important;
  z-index: 1;
}
.toggler {
  background-color: var(--logo-gray);
  height: 0.4vh;
  margin-top: 1vh;
  border-radius: 0.15rem;
}
.navbar-toggler:focus {
  box-shadow:none !important; 
}
.open-icon-1{
  transform:rotate(-45deg) translateY(1rem);
}
.open-icon-2{
  transform:rotate(45deg) translateY(-1rem);
}
.open-icon-middle{
  transform:translateX(-50px) !important;
  background:transparent !important;
}
#logo {
  text-decoration: none;
  color: var(--logo-gray);
  margin-right: 2vw;
  transition: all ease 0.3s;
}
#logo:hover {
  color: aliceblue;
}
#logoImage {
  height: 6vh;
  transform: scale(160%);
}
.nav-link {
  text-decoration: none;
  color: var(--links-gray) !important;
  transition: all ease 0.3s;
}
.nav-link:hover {
  color: aliceblue !important;
}
.active {
  color: var(--primary) !important;
}
